1) Use for, .split () and if to create an operator that will print words starting with 't':

In [5]:
st = 'Print only the words that start with t in this sentence'
# Код
for x in st.split():
    if (x[0]=='t'):
        print(x)

the
that
t
this

2) Use Range () to print all even numbers from 0 to 10. (Do not use operators for, While, if)

In [21]:
# Код
l = list(range(0,11,2))
print(l)

[0, 2, 4, 6, 8, 10]

3) Complete ** List ** of all numbers from 1 to 50, which are divided into 3. (namely the list)

In [43]:
# Код
l = list(i for i in range(1,51) if i%3==0)
print(l)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

4) View the line below and, if the length of the word is even, bring “even!”

In [63]:
st = 'Print every word in this sentence that has an even number of letters'
# Код
for str in st.split():
    if len(str)%2==0:
        print("even!")
    else:
        print("no!")

no!
no!
even!
even!
even!
even!
even!
no!
even!
even!
even!
even!
no!

5) Create a list of the first letters of each word in a line below:

In [26]:
st = 'Create a list of the first letters of every word in this string'
# Код
[str[0] for str in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

6) Find the amount of numbers in the list below: (with two ways)

In [42]:
l = [1,2,3,4,5,6,7,8,9,10]
# Код 1
sum = 0 
for i in l:
    sum+=i
print(sum)

55

In [48]:
l = [1,2,3,4,5,6,7,8,9,10]
# Код 2
dp = []
dp.append(l[0])
for i in range(len(l)):
    if i==0:
        continue
    dp.append(dp[i-1]+l[i])
print(dp[len(dp)-1])

55

7) Write the program on Python to multiply all the elements in the list.

In [30]:
l = [2,5,7,3,9]
# Код
num=1
for x in l:
    num*=x
print(num)

1890

8) Write the program on Python to get the largest number from the list.

In [31]:
l = [2,5,7,3,9,11,50,101]
# Код
max=0
for i in l:
    if i>max:
        max=i
print(max)

101

9) Write the program on Python to find common elements from two lists.

In [35]:
team_1 = ["Darkhan", "Abilay", "Azamat", "Zhasulan"]
team_2 = ["Azamat", "Darkhan", "Aset", "Bolat","Saken"]
# Код
team_1=set(team_1)
team_2=set(team_2)
print(team_1.intersection(team_2))

{'Azamat', 'Darkhan'}

10) Write the program on Python to expand the list without .Append ().

In [38]:
l_1 = [10,20,30]
l_2 = [1,2,3,4,5,6]
# Вывод должен быть: [10,20,30,1,2,3,4,5,6]
# Код
l_1.extend(l_2)
print(l_1)

[10, 20, 30, 1, 2, 3, 4, 5, 6]

11) Write the program on Python to summarize all the elements in the dictionary.

In [40]:
my_dict = {'data1':100,'data2':-54,'data3':247}
# Код
num = 0
for i in my_dict.values():
    num+=i
print(num)

293

12) Write the program on Python to get the maximum and minimum value in the dictionary.

In [41]:
my_dict = {'data1':100,'data2':-54,'data3':247}
# Код
min = 10000
max = -10000
for i in my_dict.values():
    if i<min:
        min=i
    if i>max:
        max=i
print (max, min)

247 -54

13) Write the program on Python to find those numbers that are divided by 7 and are multiple 5, between 1500 and 2700 (both are included).

In [44]:
list(i for i in range(1500,2701) if i%7==0 and i%5==0)

[1505,
 1540,
 1575,
 1610,
 1645,
 1680,
 1715,
 1750,
 1785,
 1820,
 1855,
 1890,
 1925,
 1960,
 1995,
 2030,
 2065,
 2100,
 2135,
 2170,
 2205,
 2240,
 2275,
 2310,
 2345,
 2380,
 2415,
 2450,
 2485,
 2520,
 2555,
 2590,
 2625,
 2660,
 2695]

14) Write the program on Python to count the number of even and odd numbers from a series of numbers.

In [45]:
numbers = (10,11,12,13,14,15,16,17,18,19,20)
# Код
count_odds=0
count_evens=0
for i in numbers:
    if i%2==0:
        count_evens+=1
    else:
        count_odds+=1
print(count_evens, count_odds)

6 5

15) Write the program on Python to get a series of Fibonacci from 0 to 50.

In [67]:
l =list(0 for i in range(50))
l[0]=0
l[1]=1
for i in range (2,50):
    l[i]=l[i-1]+l[i-2]
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

16) Write the program on Python for calculating the age of the dog by dog ​​years. (For a given number 12, the conclusion should be 61 = 2x10.5+10x4)

** Note: During the first two years of a year, the dog is 10.5 human years. After that, every year the dog is 4 human years. **

In [54]:
num = int(input())
dog_year=0

for i in range(1,num+1):
    if i==1 or i==2:
        dog_year+=10.5
    else:
        dog_year+=4
print(dog_year)

61.0

17) Write the program on Python to convert the name of the month into the number of days.

In [70]:
month_days = {
        "January": 31,
        "February": 28,
        "March": 31,
        "April": 30,
        "May": 31,
        "June": 30,
        "July": 31,
        "August": 31,
        "September": 30,
        "October": 31,
        "November": 30,
        "December": 31
    }
str = input()
print(month_days[str])

28

18) Check whether the word is a palindrome or not.

** Note: The line is considered the palindrome if it is read the same in both directions. **

In [58]:
word = "aibohphobia"
# Код
revers=word[::-1]
print(word==revers)

True

19) There are several students nearby, each of which has a certain number on the back. Students are going to divide into two teams, having counted them in two: those who are in even positions (based on 0) will go to team A, and those who are in an odd position will join the V. team

Your task is to calculate the difference between the sums of numbers written on the backs of students who will join the team A, and those who are written on the backs of students who join the team B.

In [61]:
students = [1, 11, 13, 6, 14, 10, 23, 25, 16, 23, 30, 9]
# Код
sum_odd=0
sum_even=0
for i in range(len(students)):
    if i%2==0:
        sum_even+=students[i]
    else:
        sum_odd+=students[i]
print (sum_even-sum_odd)

13

20) Write the program on Python to find numbers from 100 to 400 (both are included), where each number of numbers is an even number. The resulting numbers must be printed in the sequence through a comma.

In [62]:
l = list(i for i in range(100,401) if i%2==0)
for i in l:
    print(i,end = " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150 152 154 156 158 160 162 164 166 168 170 172 174 176 178 180 182 184 186 188 190 192 194 196 198 200 202 204 206 208 210 212 214 216 218 220 222 224 226 228 230 232 234 236 238 240 242 244 246 248 250 252 254 256 258 260 262 264 266 268 270 272 274 276 278 280 282 284 286 288 290 292 294 296 298 300 302 304 306 308 310 312 314 316 318 320 322 324 326 328 330 332 334 336 338 340 342 344 346 348 350 352 354 356 358 360 362 364 366 368 370 372 374 376 378 380 382 384 386 388 390 392 394 396 398 400

# Great work!